<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank System</title>
  </head>
  <body>
    <h1>Faça o Login</h1>
    <form action="/users/user-loggedin" method="POST">
      <input type="text" name="userName" placeholder="Nome de Usuário" />
      <input type="password" name="password" placeholder="Senha" />
      <button type="submit">Fazer Login</button>
    </form>
    <h3><a href="/">Clique aqui</a> para voltar a Página Inicial</h3>
  </body>
</html>
