<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bank System</title>
  </head>
  <body>
    <h1>Seja Bem-vindo!</h1>
    <form action="/users/deleteUser?" method="GET">
      <div>
        <input
          type="text"
          id="idPrompt"
          name="id"
          placeholder="ID do usuário"
          value=""
        />
      </div>
      <div>
        <input
          type="text"
          id="uNamePrompt"
          name="uName"
          placeholder="Nome de usuário"
          value=""
        />
      </div>
      <div>
        <input
          type="text"
          id="namePrompt"
          name="name"
          placeholder="Nome completo"
          value=""
        />
      </div>
    </form>
    <h3><a href="/users/login">Clique aqui</a> para fazer o login</h3>
    <button type="button" id="getButton">Ver Database no Console</button>
    <button type="submit" id="delButton">Deletar Usuário</button>
  </body>
  <script src="./scripts/user_dbcontroll.js"></script>
</html>
